<div class="col-sm-4">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to event.name, event %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.category.name %></h6>
      <p class="card-text"><%= event.venue.address %></p>
      <%= link_to 'Editar', edit_event_path(event), class: 'card-link' %>
      <%= link_to 'Eliminar', event, data: {turbo_method: :delete, turbo_confirm: 'Estás seguro?'}, class: 'card-link' %>
    </div>
  </div>
</div>